*{
    font-family: Helvetica;
    font-size: 95%;
}
body {
    width: 960px;
    margin: auto;
}
img {
    border: none;
}
.logout{
    display: block;
    float: right;
}
.logo{
    height: 50px;
    text-decoration: none;
    margin: 250px;
}
.logo:visited {
    color: black;
}
.feed-list{
    background: #DDEEF6;
    /*background: lightblue;*/
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.feed-list li{
    list-style-type: none;
    padding: 5px 0;
}
.feed-list a{
    display:block;
    float: left;
}
.feed-title {
    font-weight: bold;
}
